<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.board.mapper">
	<insert id="boardInsert" parameterType="com.acorn.model.vo.BoardVO">
			INSERT INTO TBL_BOARD(BNO, TITLE, CONTENT, WRITER)
			VALUES(DASHSEQ.NEXTVAL,#{title},#{content},#{writer})
	</insert>

	<insert id="attachInsert" parameterType="com.acorn.model.vo.BoardVO">
		<selectKey	resultType="int" keyProperty="bno" order="BEFORE">
			select max(bno) from TBL_BOARD
		</selectKey>
		INSERT INTO TBL_ATTACH
		VALUES(#{img},#{bno},SYSDATE)
	</insert>
	
	<select id="boardList" resultType="com.acorn.model.vo.BoardVO">
		SELECT BNO, TITLE, CONTENT, WRITER, REGDATE, VIEWCNT
		FROM TBL_BOARD
	</select>
	
	<select id="boardRead" parameterType="int" resultType="com.acorn.model.vo.BoardVO">
		SELECT BNO, TITLE, CONTENT, WRITER, REGDATE, VIEWCNT
		FROM TBL_BOARD
		WHERE BNO=#{value}
	</select>
	
	<delete id="boardDelete">
		DELETE FROM TBL_BOARD
		WHERE BNO=#{value}
	</delete>
	
	<update id="boardModfiy" parameterType="com.acorn.model.vo.BoardVO">
		UPDATE TBL_BOARD
		SET TITLE=#{title},
			CONTENT=#{content},
			WRITER=#{writer}
		WHERE BNO=#{bno}
	</update>
	
	<update id="boardView" parameterType="com.acorn.model.vo.BoardVO">
		UPDATE TBL_BOARD
		SET VIEWCNT=VIEWCNT+1
		WHERE BNO=#{bno}
	</update>
	
	<insert id="replyRegister" parameterType="com.acorn.model.vo.ReplyVO">
		INSERT INTO TBL_REPLY
		VALUES(TBL_REPLYSEQ.NEXTVAL,#{rcontent},#{rwriter},#{bno})
	</insert>
	
	<select id="replyList" parameterType="int" resultType="com.acorn.model.vo.ReplyVO">
		SELECT *
		FROM TBL_REPLY
		WHERE BNO=#{value}
	</select>
</mapper>
